<nb-card class="h-100 card-row">
  <nb-card-body class="m-0">
    <div class="main-wrapper add-lead-wrapper">
      <div>
        <div class="sign-in-title">
          <h2>Tenant Signup</h2>
          <h3>Signup to ARC-SaaS</h3>
        </div>
        <form [formGroup]="addLeadForm" (ngSubmit)="onSubmit()">
          <!-- input fields -->
          <div class="input-wrapper">
            <div class="input-box">
              <div class="input-title">
                <span>First Name <span class="required">*</span></span>
              </div>
              <div class="inputTags">
                <div class="input-container">
                  <input
                    type="text"
                    placeholder="Enter First Name"
                    status="“info”"
                    formControlName="firstName"
                    nbInput
                  />
                  <nb-icon
                    icon="info-outline"
                    class="info-icon"
                    nbTooltip="Please enter your first name. This field is required."
                  ></nb-icon>
                </div>
              </div>
            </div>

            <div class="input-box">
              <div class="input-title">
                <span>Last Name <span class="required">*</span></span>
              </div>
              <div class="inputTags">
                <div class="input-container">
                  <input
                    type="text"
                    placeholder="Enter Last Name"
                    status="“info”"
                    formControlName="lastName"
                    nbInput
                  />
                  <nb-icon
                    icon="info-outline"
                    class="info-icon"
                    nbTooltip="Please enter your Last name. This field is required."
                  ></nb-icon>
                </div>
              </div>
            </div>

            <div class="input-box">
              <div class="input-title">
                <span>Company Name <span class="required">*</span></span>
              </div>
              <div class="inputTags">
                <div class="input-container">
                  <input
                    type="text"
                    placeholder="Company Name"
                    status="“info”"
                    formControlName="companyName"
                    nbInput
                  />
                  <nb-icon
                    icon="info-outline"
                    class="info-icon"
                    nbTooltip="Please enter your Company name. This field is required."
                  ></nb-icon>
                </div>
              </div>
            </div>

            <!-- email -->
            <div class="input-box">
              <div class="input-title">
                <span>Email <span class="required">*</span></span>
              </div>
              <div class="inputTags">
                <div class="input-container">
                  <input
                    type="Email"
                    placeholder="Email"
                    status="“info”"
                    fieldSize="medium"
                    formControlName="email"
                    nbInput
                  />
                  <nb-icon
                    icon="info-outline"
                    class="info-icon"
                    nbTooltip="Please enter your Mail id. This field is required."
                  ></nb-icon>
                </div>
              </div>

              <div
                *ngIf="
                  addLeadForm.get('email').hasError('required') &&
                  addLeadForm.get('email').touched
                "
              >
                Email is required.
              </div>
              <div
                *ngIf="
                  addLeadForm.get('email').hasError('email') &&
                  addLeadForm.get('email').touched
                "
              >
                Invalid email format.
              </div>
            </div>
            <!-- Validated or not  -->

            <!-- address-->
            <div class="input-box address-input-box">
              <div class="input-title">
                <span>Address <span class="required">*</span></span>
              </div>
              <div class="input address-input inputTags">
                <div class="input-container">
                  <input
                    type="text"
                    placeholder="Enter Your Address"
                    status="“info”"
                    formControlName="address"
                    nbInput
                  />
                  <nb-icon
                    icon="info-outline"
                    class="info-icon"
                    nbTooltip="Please enter your Address. This field is required."
                  ></nb-icon>
                </div>
              </div>
            </div>

            <div class="input-box">
              <div class="input-title">
                <span>City <span class="required">*</span></span>
              </div>
              <div class="inputTags">
                <div class="input-container">
                  <input
                    type="text"
                    placeholder="Enter Your City"
                    status="“info”"
                    formControlName="city"
                    nbInput
                  />
                  <nb-icon
                    icon="info-outline"
                    class="info-icon"
                    nbTooltip="Please enter city This field is required."
                  ></nb-icon>
                </div>
              </div>
            </div>

            <div class="input-box">
              <div class="input-title">
                <span>State <span class="required">*</span></span>
              </div>
              <div class="inputTags">
                <div class="input-container">
                  <input
                    type="text"
                    placeholder="Enter Your State"
                    status="“info”"
                    formControlName="state"
                    nbInput
                  />
                  <nb-icon
                    icon="info-outline"
                    class="info-icon"
                    nbTooltip="Please enter your state. This field is required."
                  ></nb-icon>
                </div>
              </div>
            </div>

            <div class="input-box">
              <div class="input-title">
                <span>Country <span class="required">*</span></span>
              </div>
              <div class="inputTags">
                <div class="input-container">
                  <input
                    type="text"
                    placeholder="Enter your Country"
                    status="“info”"
                    formControlName="country"
                    nbInput
                  />
                  <nb-icon
                    icon="info-outline"
                    class="info-icon"
                    nbTooltip="Please enter your country. This field is required."
                  ></nb-icon>
                </div>
              </div>
            </div>

            <div class="input-box">
              <div class="input-title">
                <span>Zip Code <span class="required">*</span></span>
              </div>
              <div class="inputTags">
                <div class="input-container">
                  <input
                    type="text"
                    placeholder="Enter your Zip Code"
                    status="“info”"
                    formControlName="zip"
                    nbInput
                  />
                  <nb-icon
                    icon="info-outline"
                    class="info-icon"
                    nbTooltip="Please enter your city's Zipcode. This field is required."
                  ></nb-icon>
                </div>
              </div>
            </div>
          </div>

          <!-- signup button -->
          <div class="btn">
            <button
              nbButton
              size="medium"
              status="danger"
              [disabled]="!addLeadForm.valid"
              type="submit"
            >
              Signup
            </button>
          </div>
        </form>
      </div>
    </div>
  </nb-card-body>
</nb-card>
