@use 'sass:map';
@use 'app/theme/styles/index' as *;
@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/montserrat/Montserrat-Regular.otf')
    format('opentype');
}

$nb-themes: nb-register-theme(
  (
    // common
    border-radius: 0.25rem,

    // Font
    font-family-primary: 'Montserrat,Open Sans,sans-serif',
   
  ),
  boiler,
  default
);
