@import '@nebular/theme/styles/global/breakpoints';

:host {
  $auth-layout-padding: 0rem;

  .login-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  nb-auth-block {
    max-width: none;
  }

  ::ng-deep {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      padding: $auth-layout-padding;

      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }
}

.card-row {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  flex-basis: 35% !important;
}

@media (max-width: 991px) {
  .card-row {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    flex-basis: 100% !important;
  }

  .login-img-wrapper {
    display: none !important;
  }
}
