@use '../../../../styles.scss' as *;
@use '../../styles/grid-styles.scss' as *;

.input-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-box {
  .inputTags {
    input {
      margin: 5px 0;
      width: 100% !important;
      max-width: 100%;
      border-radius: 0;
      background: #fff;
      border-color: #cecece !important;
    }
  }
}

.card-row {
  margin: 0;
  padding: 30px 30px !important;
}

.sign-in-title {
  h2 {
    font-size: 36px;
    margin: 10px 0 10px 0 !important;
  }
}

h3 {
  margin: 0;
}

.plan-wrapper {
  display: flex;
  gap: 10px;
  justify-content: start;
  flex-wrap: wrap;
}

.input-box-wrapper {
  width: 48%;

  .input {
    input {
      margin: 5px 0;
      width: 100% !important;
      max-width: 100%;
      border-radius: 0;
      background: #fff;
      border-color: #cecece;
    }
  }

  .select {
    width: 100%;
  }
}

.features-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.input-box {
  width: 24%;

  .input {
    input {
      margin: 5px 0;
      width: 100% !important;
      max-width: 100%;
      border-radius: 0;
      background: #fff;
      border-color: #cecece;
    }
  }

  .select {
    width: 100%;
  }
}

.input-radio {
  width: 100%;
}

.radioselect {
  nb-radio-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    word-wrap: wrap;
  }
}

.address-input-box {
  width: 100%;
  border-color: #cecece;
}

.address-input {
  border-color: #cecece !important;
}
.dropdown-wrapper {
  width: 100%;
  max-width: 100% !important;
  margin-top: 5px;
  border: 1px solid #cecece;
}

.regbtn {
  text-align: right;
  margin: 10px;
  padding: 10px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.full-width-textarea {
  width: 100%;
  box-sizing: border-box;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.radio-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-group {
  display: flex;
  flex-wrap: nowrap;

  nb-radio {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.input-box {
  .input-title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
  }
}

.required {
  color: red;
  font-size: 1.2em;
}

.details-wrapeer {
  border: 1px solid #cecece;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.input-box-wrapper {
  .input-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
  }
}

.input-title-wrapper {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 15px;
}

.info-icon {
  cursor: pointer;
  margin-left: 10px;
  color: #007bff;
  font-size: 18px;
  vertical-align: middle;
}

.features-wrapper-testing {
  margin-top: 20px;
  .features {
    .feature-toggle {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid #cecece;
      border-radius: 5px;

      .feature-details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .feature-name {
          flex: 1;
          margin-right: 10px;
        }

        .feature-input {
          flex: 1;
          display: flex;
          justify-content: flex-end;

          nb-toggle,
          input,
          textarea {
            margin-left: 10px;
          }
        }
      }
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;

  input {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .info-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
    font-size: 18px;
    z-index: 1;
  }
}
