.note {
  background-color: #e0f7fa;
  border-left: 4px solid #036ea3;
  padding: 16px;
  margin: 16px 0;
}
a {
  text-decoration: none;
  color: #19a5ff;
}

a:hover {
  text-decoration: underline;
}
