<nb-card class="h-100">
  <nb-card-body>
    <div class="align-center logo">
      <img
        width="20%"
        src="assets/images/auth/angular.png"
        alt="logo"
        draggable="false"
      />
    </div>
    <div class="align-center description text-center">
      <h2>Hello and Welcome! to the Angular Boiler Plate</h2>
    </div>
    <div class="align-center text-center">
      <span class="w-60"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas
        dui sit amet purus consequat, sed ornare nulla imperdiete tiam egestas
        dui sit amet.</span
      >
    </div>
    <div class="align-center login-btn">
      <button (click)="loginViaGoogle()" class="google-btn">
        Continue with Google
      </button>
    </div>
    <div class="align-center footer">
      <span class="w-50 text-center">
        By continuing with Google, you agree to our Terms of Service and Privacy
        Policy.
      </span>
    </div>
  </nb-card-body>
</nb-card>
