@use 'sass:map';
@use '../../theme/styles/variables.scss' as *;

:host {
  .logo {
    padding-top: 15%;
  }

  .description {
    padding-top: 10%;
  }

  .login-btn {
    padding-top: 10%;
  }

  .footer {
    padding-top: 15%;
  }
}

.google-btn {
  width: 24.125rem;
  height: 4rem;
  border-radius: 0.375rem;
  font-size: 1.25rem;
  font-family: #{nb-theme(font-family-primary)};
  font-weight: 600;
  line-height: 1.5rem;
  background-color: map.get($font, 'light');
  border: 0.063rem solid map.get($color, 'border-disable');
  position: absolute;

  &:hover {
    border-color: map-get($font, 'placeholder');
  }

  &:active {
    border-color: map-get($font, 'primary');
  }
}