<nb-card class="h-100 card-row glassmorphism">
  <nb-card-body class="m-0">
    <div class="main-wrapper add-lead-wrapper">
      <div>
        <div class="sign-in-title">
          <h2 class="title">Marketplace Registration</h2>
          <form [formGroup]="marketSubsForm" (ngSubmit)="onSubmit()">
            <!-- input fields -->
            <div class="input-wrapper">
              <div class="input-box">
                <div class="input-title">
                  <span>First Name <span class="required">*</span></span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Enter First Name"
                      status="info"
                      formControlName="firstName"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Please enter your first name. This field is required."
                    ></nb-icon>
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Last Name <span class="required">*</span></span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Enter Last Name"
                      status="info"
                      formControlName="lastName"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Please enter your Last name. This field is required."
                    ></nb-icon>
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Company Name <span class="required">*</span></span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Company Name"
                      status="info"
                      formControlName="companyName"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Please enter your Company name. This field is required."
                    ></nb-icon>
                  </div>
                </div>
              </div>

              <!-- email -->
              <div class="input-box">
                <div class="input-title">
                  <span>Email <span class="required">*</span></span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      type="Email"
                      placeholder="Email"
                      status="info"
                      fieldSize="medium"
                      formControlName="email"
                      nbInput
                    />
                    <nb-icon
                      icon="email-outline"
                      class="info-icon"
                      nbTooltip="Please enter your Mail id. This field is required."
                    ></nb-icon>
                  </div>
                </div>

                <div
                  class="error-msg"
                  *ngIf="
                    marketSubsForm.get('email').hasError('email') &&
                    marketSubsForm.get('email').touched
                  "
                >
                  Invalid email format.
                </div>
              </div>

              <!-- address-->
              <div class="input-box address-input-box">
                <div class="input-title">
                  <span>Address</span>
                </div>
                <div class="input address-input">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Enter Your Address"
                      status="info"
                      formControlName="address"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Please enter your address. This field is required"
                    ></nb-icon>
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Contact<span class="required">*</span></span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Enter your contact"
                      status="info"
                      formControlName="contact"
                      nbInput
                    />
                    <nb-icon
                      icon="phone-outline"
                      class="info-icon"
                      nbTooltip="Please enter your Contact Number."
                    ></nb-icon>
                  </div>
                  <div
                    class="error-msg"
                    *ngIf="
                      marketSubsForm.get('contact').invalid &&
                      marketSubsForm.get('contact').touched
                    "
                  >
                    <div
                      class="error-msg"
                      *ngIf="marketSubsForm.get('contact').hasError('pattern')"
                    >
                      Contact must be numeric only.
                    </div>
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Zip Code<span class="required">*</span></span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Enter your Zip Code"
                      status="info"
                      formControlName="zip"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Please enter zip code."
                    ></nb-icon>
                  </div>
                  <div
                    class="error-msg"
                    *ngIf="
                      marketSubsForm.get('zip').invalid &&
                      marketSubsForm.get('zip').touched
                    "
                  >
                    <div
                      class="error-msg"
                      *ngIf="marketSubsForm.get('zip').hasError('pattern')"
                    >
                      Zip Code must be numeric only.
                    </div>
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Country <span class="required">*</span></span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Enter your Country"
                      status="info"
                      formControlName="country"
                      nbInput
                    />
                    <nb-icon
                      icon="globe-outline"
                      class="info-icon"
                      nbTooltip="Please enter your country."
                    ></nb-icon>
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>
                    Application Sub-Domain <span class="required">*</span>
                  </span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      placeholder="Enter the subdomain of your application"
                      fieldSize="medium"
                      status="info"
                      formControlName="subdomain"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Enter a unique key starting with an alphabet. This field is required and has a maximum length of 20 characters. Special characters are not allowed."
                    ></nb-icon>
                  </div>
                  <div>
                    <div *ngIf="keyVerificationMessage" class="message">
                      {{ keyVerificationMessage }}
                    </div>
                  </div>
                </div>
              </div>

              <!-- signup button -->
              <div class="btn-wrapper">
                <div class="btn regbtn">
                  <button
                    nbButton
                    size="medium"
                    status="danger"
                    [disabled]="!marketSubsForm.valid"
                    type="submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
