/* email-verification-success.component.css */
@use '../../styles/forms.style.scss' as *;
:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nb-card {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.verifiaction-wrapper {
  padding: 0 18px;
}

.card-wrapper{
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}