@use 'sass:map';
@use '../../../../../arc-lib/src/lib/theme/styles/variables' as *;
@use '@nebular/theme/styles/theming' as *;

.heading {
  text-align: left;
}
.grid {
  justify-content: center;
  display: flex;
  width: 100%;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-style {
  width: 100%;
  overflow: auto;
  height: calc(100vh - 120px);
  border-radius: 15px;
}
.ag-theme-quartz {
  width: 100%;
  height: 650px;
  --ag-font-family: sans-serif;
  --ag-font-size: 16px;
  .ag-header {
    font-family: cursive;
  }
  .ag-header-group-cell {
    font-weight: bold;
    font-size: 22px;
  }
}

.regbtn {
  padding: 10px 0;
  text-align: right;
  button {
    min-width: 200px;
    .btn-danger {
      background-color: #f00a18 !important;
      color: white !important;
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Media Queries for Responsiveness */

@media (max-width: 576px) {
  .heading {
    font-size: 18px;
  }

  .ag-theme-quartz {
    height: 350px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .heading {
    font-size: 20px;
  }

  .ag-theme-quartz {
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .heading {
    font-size: 22px;
  }

  .ag-theme-quartz {
    height: 450px;
  }
}

@media (max-width: 1200px) {
  .ag-theme-quartz {
    height: 550px;
  }
}
