<div class="breadcrumb-section">
  <h3>1.Basic Breadcrumb</h3>
  <ul class="breadcrumb">
    <li>Home</li>
    <span class="separator">›</span>
    <li>Users</li>
    <span class="separator">›</span>
    <li>John Doe</li>
    <span class="separator">›</span>
    <li>Document.pdf</li>
  </ul>
  <div class="code-block">
    <span
      class="copy-icon"
      (click)="copyCode(basicCode)"
      title="Copy Routing Code"
      >📋</span
    >
    <pre>{{ basicCode }}</pre>
  </div>

  <h3>2.Dynamic Handling Breadcrumb</h3>

  <ul class="breadcrumb">
    <li>Main</li>
    <span class="separator">›</span>
    <li class="clickable" (click)="expanded = !expanded">...</li>
    <span class="separator">›</span>
    <li>Document.pdf</li>
  </ul>

  <div *ngIf="expanded" class="expanded-breadcrumb">
    <ul class="breadcrumb">
      <li>Main</li>
      <span class="separator">›</span>
      <li>Users</li>
      <span class="separator">›</span>
      <li>John Doe</li>
      <span class="separator">›</span>
      <li>Document.pdf</li>
    </ul>
  </div>
  <div class="button-group">
    <button class="colors" (click)="goToUser(123)">User/123</button>
    <button class="colors" (click)="goToDocument(124, 1)">
      User/124/document/1
    </button>
  </div>
  <div class="code-container">
    <div class="code-block">
      <h3>Routing Code</h3>
      <span
        class="copy-icon"
        (click)="copyCode(routingCode)"
        title="Copy Routing Code"
        >📋</span
      >
      <pre>{{ routingCode }}</pre>
    </div>

    <div class="code-block">
      <h3>Resolver Code</h3>
      <span
        class="copy-icon"
        (click)="copyCode(resolverCode)"
        title="Copy Resolver Code"
        >📋</span
      >
      <pre>{{ resolverCode }}</pre>
    </div>
    <div class="code-block">
      <h3>Service Code</h3>
      <span
        class="copy-icon"
        (click)="copyCode(serviceCode)"
        title="Copy Service Code"
        >📋</span
      >
      <pre>{{ serviceCode }}</pre>
    </div>
  </div>
</div>
