
<!-- email-verification-success.component.html -->
<div class="verifiaction-wrapper">
    <nb-card>
        <nb-card-body>
          <nb-icon icon="checkmark-outline" pack="eva" status="success" size="large"></nb-icon>
          <h2>Email Verification Successful</h2>
          <p>Your email has been successfully verified.</p>
        </nb-card-body>
      </nb-card>

      <div class="btn">
        <button nbButton shape="round" size="medium" (click)="completeRegistration()">
            Complete Registration
          </button>
      </div>
</div>

  