<nb-layout>
  <nb-layout-header fixed class="border-basic-bottom  ">
   <div class="header-wrapper">
    <lib-header></lib-header>
   </div>
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="menu"> </nb-menu>
    <nb-sidebar-footer
      class="footer"
      [ngStyle]="{visibility: toggleFooter ? 'hidden' : 'visible'}"
    >
      <nb-actions>
        <nb-action class="pl-0 pr-5 footer-action">
          <a class="footer-links" href="javascript:void(0)">Privacy</a>
        </nb-action>
        <nb-action class="pr-0 pl-5 footer-divider footer-action">
          <a class="footer-links" href="javascript:void(0)"
            >Terms & conditions</a
          >
        </nb-action>
      </nb-actions>
      © 2023 Boiler Plate
    </nb-sidebar-footer>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet class="main-router"></router-outlet>
  </nb-layout-column>
</nb-layout>
