<div class="root">
  <router-outlet automation-id="app_routeroutlet"></router-outlet>
</div>

<!-- <select
  [options]="yourOptionsArray"
  [idField]="'id'"
  [nameField]="'name'"
  [multiple]="false" 
  [search]="true"
  [placeholder]="'Select an option'"
  value="selectedValue"
  (valueChange)="onValueChange($event)"
></select> -->

<!-- <list
  [options]="options"
  [nameField]="'name'" 
  [idField]="'id'"
  [disabledField]="'deleted'" 
  [itemHeight]="30"
  [multiple]="false" 
  [search]="true"
  [removal]="false"
  [searchPlaceholder]="'Search...'"
  [noSearchResultText]="'No results found'"
  [noDataText]="'No data available'"
  [addTagString]="'Create a new item'"
  [selectOnEnter]="true"
  [allowInput]="false"
  [selections]="selectedOptions"
  [showIcon]="showIcon"
  [groupConfig]="groupConfig"
  (toggle)="onToggle($event)"
  (remove)="onRemove($event)"
 ></list> -->
<!-- <gantt-tooltip [item]="'yourItemData'"></gantt-tooltip> -->
<!-- 
<gantt-header [desc]="true" [name]="'Project Gantt Chart'" [showSearch]="true"></gantt-header> -->
<!-- <gantt-column
    [item]="mockItem"
    [contextItems]="'menuItems'"
    [active]="'isActive'"
    [showKebab]="'showKebabMenu'"
    [showParentInitials]="'showParentInitialsOption'"
    [showChildInitials]="'showChildInitialsOption'"
    [showOverallocatedIcon]="'showOverallocatedIconOption'"
    [contextItemFilter]="'itemFilter'"
  ></gantt-column> -->
  <!-- <gantt-header
  [desc]="true"
  [name]="'Your Gantt Chart'"
  [showSearch]="true"
></gantt-header> -->