<!-- <div class="root">
 <router-outlet automation-id="app_routeroutlet"></router-outlet>
</div>  -->
<!-- <lib-home-page></lib-home-page> -->

<div>
  <nb-layout>
    <nb-layout-header>
      <selector
        [options]="yourOptionsArray"
        [idField]="'id'"
        [nameField]="'name'"
        [search]="true"
        [placeholder]="'Select'"
        value="selectedValue"
        [multiple]="true"
        (valueChange)="onValueChange($event)"
        style="width: 100%"
      ></selector>
    </nb-layout-header>
  </nb-layout>
</div>

<!-- <arc-main-home></arc-main-home> -->
<!-- <lib-login-page></lib-login-page> -->
<!-- <app-list [options]="options" [nameField]="'name'" [idField]="'id'" [disabledField]="'deleted'" [itemHeight]="30"
  [multiple]="false" [search]="true" [removal]="false" [searchPlaceholder]="'Search...'"
  [noSearchResultText]="'No results found'" [noDataText]="'No data available'" [addTagString]="'Create a new item'"
  [selectOnEnter]="true" [allowInput]="true" [selections]="selectedOptions" [showIcon]="showIcon"
  [groupConfig]="groupConfig" (toggle)="onToggle($event)" (remove)="onRemove($event)"></app-list> -->
<!-- <gantt-tooltip [item]="'yourItemData'"></gantt-tooltip> -->
<!-- 
<gantt-header [desc]="true" [name]="'Project Gantt Chart'" [showSearch]="true"></gantt-header> -->
<!-- <gantt-column
    [item]="mockItem"
    [contextItems]="'menuItems'"
    [active]="'isActive'"
    [showKebab]="'showKebabMenu'"
    [showParentInitials]="'showParentInitialsOption'"
    [showChildInitials]="'showChildInitialsOption'"
    [showOverallocatedIcon]="'showOverallocatedIconOption'"
    [contextItemFilter]="'itemFilter'"
  ></gantt-column> -->
<!-- <gantt-header
  [desc]="true"
  [name]="'Your Gantt Chart'"
  [showSearch]="true"
></gantt-header> -->
