@use 'sass:map';
@use '../../../../../../arc-lib/src/lib/theme/styles/variables' as *;

:host {
  .logo {
    padding-top: 15%;
  }

  .description {
    padding-top: 10%;
  }

  .login-btn {
    padding-top: 10%;
  }

  .footer {
    padding-top: 15%;
  }
}

.forgot-password {
  a {
    text-decoration: none;
    color: #19a5ff;
  }
}

.login-content-wrapper {
  padding: 80px;
}

.sign-in-title{
  padding: 40px 10px;
  max-width: 450px;
  margin-top: 50px;
  h2{
    font-weight: 900;
    font-size: 42px;
    line-height: 1;
    margin: 0;
    font-family: "Raleway", sans-serif;
  }
  .text-wrapper{
    font-size: 18px !important;
    font-family: "Open Sans";
    font-weight: 400;

  }
}

.aws-icon {
  padding-top: 5px;
  height: 19px;
  width: 25px;
}
.btn{
  .btn-wrapper{
  color: #ffffff !important;
  background: #f00a18 !important;
  text-transform: inherit;
  margin-right: 15px;
  min-width: 300px;
    padding: 15px;
    font-size: 15px;
  }
  p{
    max-width: 300px;
    text-align: center;
  }

}

@media (max-width: 991px) {
  .login-content-wrapper {
    padding: 50px;
    max-width: 420px;
    margin: 0 auto;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .btn {
    margin-bottom: 10px;
  }
}
