<div class="login-content-wrapper">
  <div class="login-arc-logo">
    <img [src]="imageUrl" [alt]="altText" draggable="false" />
  </div>
  <div class="main-wrapper">
    <div>
      <div class="sign-in-title">
        <h2>Multi Tenancy SaaS Application</h2>
        <p class="text-wrapper">
          Address Customer demand with reliable , scalable AWS-hosted SaaS
          Solutions
        </p>
      </div>

      <!-- Social login button -->
      <div class="btn">
        <button
          class="btn-wrapper"
          nbButton
          size="medium"
          shape="round"
          (click)="loginViaCognito()"
        >
          Sign In with Amazon Cognito
        </button>
        <p>OR</p>
        <button
          nbButton
          class="btn-wrapper"
          size="medium"
          shape="round"
          (click)="withoutLogin()"
        >
          Registration
        </button>
      </div>
    </div>
  </div>
</div>
