<div>
  <nb-card accent="danger">
    <nb-card-body>
      <h2>Manage Plan</h2>
      <!-- ag-grid -->
      <ag-grid-angular
        style="width: 1100px; height: 700px"
        class="ag-theme-quartz"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [editType]="'fullRow'"
        [rowSelection]="rowSelection"
        (selectionChanged)="onSelectionChanged($event)"
        (gridReady)="onGridReady($event)"
        (rowEditingStopped)="(onRowEditingStopped)"
      >
      </ag-grid-angular>
      <!-- Add Plan Button-->
      <div class="btn regbtn">
        <button
          nbButton
          shape="round"
          size="medium"
          status="basic"
          (click)="showManagePlan()"
        >
          Add Plan
        </button>
        <!-- Delete Button -->
        <button
          nbButton
          status="basic"
          shape="round"
          size="medium"
          (click)="deleteSelectedRow()"
        >
          Delete Plan
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</div>
