<nb-layout>
  <nb-layout-header>
    <div class="sign-in-title">
      <h2>Please Complete Your registration</h2>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card class="h-100 card-row">
      <nb-card-body class="m-0">
        <div class="main-wrapper">
          <div>
            <form [formGroup]="addTenantForm" (ngSubmit)="onSubmit()">
              <!-- input fields -->
              <div class="input-wrapper">
                <!-- key -->
                <div class="input-box">
                  <div class="input-title">
                    <span>Key</span>
                  </div>
                  <div class="input">
                    <input
                      placeholder="Enter Unique Key."
                      fieldSize="medium"
                      status="“info”"
                      formControlName="key"
                      nbInput
                    />
                  </div>
                </div>
                <!-- domain -->
                <div class="input-box">
                  <div class="input-title">
                    <span>Domain</span>
                  </div>
                  <div class="input">
                    <input
                      placeholder="Enter your mail domain."
                      fieldSize="medium"
                      status="“info”"
                      formControlName="domains"
                      nbInput
                    />
                  </div>
                </div>
              </div>

              <!-- Subscription Plans -->

              <div class="plan-card-container">
                <div class="input-title">
                  <span>Subscription Plan</span>
                </div>
                <div class="plan-card-wrapper">
                  <nb-card
                    class="plan-card-box"
                    accent="danger"
                    *ngFor="let plan of subscriptionPlans"
                  >
                    <nb-card-header>{{ plan.name }}</nb-card-header>
                    <nb-card-body>
                      <p>{{ plan.description }}</p>
                      <p>${{ plan.price }}</p>
                    </nb-card-body>
                    <nb-card-footer>
                      <!-- Use FormControl directly -->
                      <input
                        type="radio"
                        [formControl]="addTenantForm.get('planId')"
                        [value]="plan.id"
                      />
                      {{ plan.name }}
                    </nb-card-footer>
                  </nb-card>
                </div>
              </div>

              <!-- signup button -->
              <div class="btn regbtn">
                <button
                  nbButton
                  shape="round"
                  size="medium"
                  status="danger"
                  [disabled]="!addTenantForm.valid"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
