<nb-layout>
  <nb-layout-header>
    <div class="sign-in-title">
      <h2>Please Complete Your registration</h2>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card class="h-100 card-row">
      <nb-card-body class="m-0">
        <div class="main-wrapper">
          <div>
            <form [formGroup]="addTenantForm" (ngSubmit)="onSubmit()">
              <!-- input fields -->
              <div class="input-wrapper">
                <!-- key -->
                <div class="input-box">
                  <div class="input-title">
                    <span>Key <span class="required">*</span></span>
                  </div>
                  <div class="input">
                    <div class="input-container">
                      <input
                        placeholder="Enter Unique Key."
                        fieldSize="medium"
                        status="“info”"
                        formControlName="key"
                        nbInput
                      />
                      <nb-icon
                        icon="info-outline"
                        class="info-icon"
                        nbTooltip="Enter a unique key starting with an alphabet. This field is required and has a maximum length of 10 characters. Special characters are not allowed"
                      ></nb-icon>
                      <!-- Inline error message -->
                      <nb-tooltip
                        *ngIf="
                          addTenantForm.get('key').invalid &&
                          (addTenantForm.get('key').dirty ||
                            addTenantForm.get('key').touched)
                        "
                        [attr.id]="'keyError'"
                        [nbTooltip]="
                          addTenantForm.get('key').errors?.keyInvalid
                            ? 'Key must start with an alphabet, have a maximum length of 10 characters, and contain no special characters.'
                            : null
                        "
                      >
                      </nb-tooltip>
                    </div>
                  </div>
                </div>
                <!-- domain -->
                <div class="input-box">
                  <div class="input-title">
                    <span>Email Domain <span class="required">*</span></span>
                  </div>
                  <div class="input">
                    <div class="input-container">
                      <input
                        placeholder="Enter your Email domain."
                        fieldSize="medium"
                        status="“info”"
                        formControlName="domains"
                        nbInput
                      />
                      <nb-icon
                        icon="info-outline"
                        class="info-icon"
                        nbTooltip="Enter your Domain name. 
                      This field is required and should match the format of a valid email address.."
                      ></nb-icon>
                    </div>
                  </div>
                  <div *ngIf="addTenantForm.errors?.domainMismatch">
                    Email domain does not match the domain part of the email
                    address.
                  </div>
                </div>
              </div>

              <!-- Subscription Plans -->

              <div class="plan-card-container">
                <div class="input-title">
                  <h3>Subscription Plan</h3>
                </div>
                <div class="plan-card-wrapper">
                  <nb-card
                    class="plan-card-box"
                    accent="danger"
                    *ngFor="let plan of subscriptionPlans"
                  >
                    <nb-card-header class="plan-card-header">
                      <h5>{{ plan.name }}</h5>
                    </nb-card-header>
                    <nb-card-body>
                      <p class="plan-description">{{ plan.description }}</p>
                      <p class="plan-price">${{ plan.price }}</p>
                    </nb-card-body>
                    <nb-card-footer class="plan-card-footer">
                      <label class="plan-radio">
                        <!-- Use FormControl directly -->
                        <input
                          type="radio"
                          [formControl]="addTenantForm.get('planId')"
                          [value]="plan.id"
                        />
                        <span class="radio-checkmark"></span>
                        {{ plan.name }}
                      </label>
                    </nb-card-footer>
                  </nb-card>
                </div>
              </div>

              <!-- signup button -->
              <div class="btn regbtn">
                <button
                  nbButton
                  size="medium"
                  status="danger"
                  [disabled]="!addTenantForm.valid"
                  type="submit"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
