@use 'sass:map';
@use '../../../../../../arc-lib/src/lib/theme/styles/variables' as *;
@use '../../../../themes.scss' as *;
@use '../../styles/forms.style.scss' as *;

.input-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  .input-title {
    margin-bottom: 7px;
}
}

.btn { 
  // for testing purpose
  
   // for testing purpose
}

.plan-card-container {
  width: 100%;

  .plan-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .plan-card-box {
      min-width: 30%;
      justify-content: space-between;
    }
  }
}
.body-wrapper{
  .size-tag-wrapper{
    font-weight: 500;
    font: size 13px;
    border: 1px solid #000;
    padding: 2px 12px;
    margin-left: 5px;
  }
}

.card-row{
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 90%;
  margin: auto;
  .sign-in-title h2 {
    font-size: 34px;
  }
  .sign-in-title p {
    font-size: 16px;
    margin: 0 0 15px 0 !important;
    .size-tag-wrapper{
      font-weight: 500;
      font: size 13px;
      border: 1px solid #000;
      padding: 2px 12px;
      margin-left: 5px;
   }
    }
   .sign-in-title h3 {
    font-size: 20px;
    color: #525252;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  
  }

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 3px;
}


.input-container {
  display: flex;
  align-items: center;
  position: relative;

  input {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .info-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
    font-size: 18px;
    z-index: 1;
  }
}

.info-icon {
  margin-left: 8px;
  cursor: pointer;
  color: #007bff;
}

.required {
  color: red;
}

.main-wrapper {
  justify-content: center;
  .btn {
    text-align: center;
    .btn-danger{
      background-color: #f00a18 !important;
      color: white !important;
    }
  }
}

.input-box {
  width: 48%;

  .input {
    input {
      margin: 5px 0;
      width: 100% !important;
      max-width: 100%;
      border-radius: 0;
      background: #fff;
    }
  }

  .plans-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;

    .plan-card {
      flex: 0 0 calc(30% - 20px); // Adjust the width of each card
      margin: 10px;
    }
  }
}

.doller-wrapper{
  color: #f00a19;
  font-size: 16px;
}

.plan-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.input-title {
  margin-bottom: 20px;

  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.plan-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.address-input-box {
  width: 100%;
}

.plan-card-box {
  width: 300px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  min-width: 23%;
 

  &:hover {
    transform: scale(1.05);
  }

  .plan-card-header {
    // background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(234 81 116));
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(240 10 24));

    color: #fff;
    padding: 15px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5 {
      font-size: 1.25em;
      margin: 0;
      display: inline-block;
    width: 95%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-size: 16px;
    }
    .edit-icon{
      color: #000;
    }
  }

  .plan-card-body {
    padding: 15px;
    text-align: center;

    .plan-description {
      font-size: 1em;
      margin-bottom: 10px;
    }

    .plan-price {
      font-size: 1.5em;
      font-weight: bold;
      font-size: 20px;
    color: #535050;
    }
  }

  .plan-card-footer {
    background: #f4f4f4;
    padding: 10px;
    text-align: center;

    .plan-radio {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      input[type='radio'] {
        display: none;
      }

      .radio-checkmark {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #000;
        margin-right: 10px;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 10px;
          height: 10px;
          background: #000;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
        }
      }

      input[type='radio']:checked + .radio-checkmark::after {
        opacity: 1;
      }
    }
  }
}

/* Media Queries for Responsiveness */

@media (max-width: 575px) {
  .plan-card-container .plan-card-wrapper {
    flex-direction: column;
  }

  .plan-card-container .plan-card-wrapper .plan-card-box {
    width: 100%;
  }
}

/* Small devices */
@media (min-width: 576px) and (max-width: 767px) {
  .plan-card-container .plan-card-wrapper {
    flex-direction: column;
  }

  .plan-card-container .plan-card-wrapper .plan-card-box {
    width: 100%;
  }
}

/* Medium devices  */
@media (min-width: 768px) and (max-width: 991px) {
  .plan-card-container .plan-card-wrapper {
    flex-direction: row;
  }

  .plan-card-container .plan-card-wrapper .plan-card-box {
    width: calc(50% - 20px);
  }
}

/* Large devices */
@media (min-width: 992px) {
  .plan-card-container .plan-card-wrapper {
    flex-direction: row;
  }

  .plan-card-container .plan-card-wrapper .plan-card-box {
    width: calc(33.33% - 20px);
  }
}
