<nb-card class="h-100 card-row">
  <nb-card-body class="m-0">
    <div class="main-wrapper add-lead-wrapper">
      <div>
        <div class="sign-in-title">
          <h2>Tenant Registration</h2>
          <form [formGroup]="tenantRegForm" (ngSubmit)="onSubmit()">
            <!-- input fields -->
            <div class="input-wrapper">
              <div class="input-box">
                <div class="input-title">
                  <span>First Name <span class="required">*</span></span>
                </div>
                <div class="inputTags">
                  <div class="input-container">
                    <input type="text" placeholder="Enter First Name" status="“info”" formControlName="firstName"
                      nbInput />
                    <nb-icon icon="info-outline" class="info-icon"
                      nbTooltip="Please enter your first name. This field is required."></nb-icon>
                  </div>
                  <div class="error-msg"
                    *ngIf="tenantRegForm.get('firstName').hasError('pattern') && tenantRegForm.get('firstName').touched">
                    First Name must contain only characters.
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Last Name <span class="required">*</span></span>
                </div>
                <div class="inputTags">
                  <div class="input-container">
                    <input type="text" placeholder="Enter Last Name" status="“info”" formControlName="lastName"
                      nbInput />
                    <nb-icon icon="info-outline" class="info-icon"
                      nbTooltip="Please enter your Last name. This field is required."></nb-icon>
                  </div>
                  <div class="error-msg"
                    *ngIf="tenantRegForm.get('lastName').hasError('pattern') && tenantRegForm.get('lastName').touched">
                    Last Name must contain only characters.
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Company Name <span class="required">*</span></span>
                </div>
                <div class="inputTags">
                  <div class="input-container">
                    <input type="text" placeholder="Company Name" status="“info”" formControlName="name" nbInput />
                    <nb-icon icon="info-outline" class="info-icon"
                      nbTooltip="Please enter your Company name. This field is required."></nb-icon>
                  </div>
                </div>
              </div>

              <!-- email -->
              <div class="input-box">
                <div class="input-title">
                  <span>Email <span class="required">*</span></span>
                </div>
                <div class="input inputTags">
                  <div class="input-container">
                    <input type="Email" placeholder="Email" status="“info”" fieldSize="medium" formControlName="email"
                      nbInput />
                    <nb-icon icon="info-outline" class="info-icon"
                      nbTooltip="Please enter your Mail id. This field is required."></nb-icon>
                  </div>
                </div>
                <div class="error-msg" *ngIf="
                    tenantRegForm.get('email').hasError('required') &&
                    tenantRegForm.get('email').touched
                  ">
                  Email is required.
                </div>
                <div class="error-msg" *ngIf="
                    tenantRegForm.get('email').hasError('email') &&
                    tenantRegForm.get('email').touched
                  ">
                  Invalid email format.
                </div>
              </div>
              <!-- Validated or not  -->

              <!-- address-->
              <div class="input-box address-input-box">
                <div class="input-title">
                  <span>Address</span>
                </div>
                <div class="input address-input inputTags">
                  <div class="input-container">
                    <input type="text" placeholder="Enter Your Address" status="“info”" formControlName="address"
                      nbInput />
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Zip Code</span>
                </div>
                <div class="input inputTags">
                  <div class="input-container">
                    <input type="text" placeholder="Enter your Zip Code" status="“info”" formControlName="zip"
                      nbInput />
                  </div>
                </div>
                <div class="error-msg" *ngIf="
                  tenantRegForm.get('zip').hasError('pattern') &&
                  tenantRegForm.get('zip').touched
                ">
                  Zip code should only contain numbers.
                </div>
                <div class="error-msg" *ngIf="
                    tenantRegForm.get('zip').hasError('maxlength') &&
                    tenantRegForm.get('zip').touched
                  ">
                  Maximum length exceeded.
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Country <span class="required">*</span></span>
                </div>
                <div class="input inputTags">
                  <div class="input-container">
                    <input type="text" placeholder="Enter your Country" status="“info”" formControlName="country"
                      nbInput />
                  </div>
                </div>
                <div class="error-msg" *ngIf="
                  tenantRegForm.get('country').hasError('pattern') &&
                  tenantRegForm.get('country').touched
                ">
                  Country must contain only characters.
                </div>
              </div>
              <!-- key -->
              <div class="input-box">
                <div class="input-title">
                  <span>
                    Application Sub-Domain <span class="required">*</span></span>
                </div>
                <div class="input inputTags">
                  <div class="input-container">
                    <input placeholder="Enter the subdomain of your application" fieldSize="medium" status="“info”"
                      formControlName="key" nbInput />
                    <nb-icon icon="info-outline" class="info-icon"
                      nbTooltip="Enter a unique key starting with an alphabet. This field is required and has a maximum length of 10 characters. Special characters are not allowed"></nb-icon>
                  </div>
                  <div class="error-msg" *ngIf="
                    tenantRegForm.get('key').hasError('required') &&
                    tenantRegForm.get('key').touched
                  ">
                    Sub-domain is required.
                  </div>
                  <div class="error-msg" *ngIf="
                    tenantRegForm.get('key').hasError('maxlength') &&
                    tenantRegForm.get('key').touched
                  ">
                    Maximum length exceeded.
                  </div>
                  <div class="error-msg" *ngIf="
                    tenantRegForm.get('key').hasError('pattern') &&
                    tenantRegForm.get('key').touched
                  ">
                    Invalid characters used.
                  </div>
                </div>
              </div>
              <!-- domain -->
              <!-- <div class="input-box">
                <div class="input-title">
                  <span>Email domain<span class="required">*</span></span>
                </div>
                <div class="input inputTags">
                  <div class="input-container">
                    <input placeholder="Enter the Email domain " fieldSize="medium" status="“info”"
                      formControlName="domains" nbInput />
                    <nb-icon icon="info-outline" class="info-icon" nbTooltip="Enter your domain name. 
                      This field is required and should match the format of a valid email address.."></nb-icon>
                  </div>
                </div>
                <div *ngIf="tenantRegForm.errors?.domainMismatch" class="error-msg">
                  Email domain does not match the domain part of the email
                  address.
                </div>
              </div>
              <!-- payment method -->
              <div class="input-box">
                <div class="input-title">
                  <span>Payment Method <span class="required">*</span></span>
                </div>
                <div class="input">
                  <select formControlName="paymentMethod" nbSelect fullWidth>
                    <option value="" disabled selected>Select your payment method</option>
                    <!-- Placeholder-like option -->
                    <!-- <option *ngFor="let method of ['cash', 'check', 'bank_transfer', 'other', 'custom']"
                      [value]="method">
                      {{ method | titlecase }}
                    </option> -->
                    <option *ngFor="let method of paymentMethods" [value]="method">
                      {{ method | titlecase }}
                    </option>
                  </select>
                  <nb-icon icon="info-outline" class="info-icon"
                    nbTooltip="Please select your preferred payment method."></nb-icon>
                </div>
                <div
                  *ngIf="tenantRegForm.get('paymentMethod').hasError('required') && tenantRegForm.get('paymentMethod').touched"
                  style="color: red;">
                  Payment Method is required.
                </div>
              </div>

              <!-- comment -->
              <div class="input-box">
                <div class="input-title">
                  <span>Comment</span>
                </div>
                <div class="input">
                  <textarea placeholder="Add your comment" formControlName="comment" nbInput></textarea>
                </div>
              </div>


              <!--plan design -->
              <div class="plan-card-container">
                <div class="input-title">
                  <h3>Subscription Plan</h3>
                </div>
                <div class="plan-card-wrapper">
                  <nb-card class="plan-card-box" accent="danger" *ngFor="let plan of subscriptionPlans">
                    <nb-card-header class="plan-card-header">
                      <h5>{{ plan.name }}</h5>
                    </nb-card-header>
                    <nb-card-body class="plan-card-body">
                      <p class="plan-description">{{ plan.description }}</p>
                      <p class="plan-price" *ngIf="plan.tier || plan.size">
                        {{ plan.tier }}
                        <ng-container *ngIf="plan.size">
                          <nb-tag *ngIf="plan.size" status="basic" appearance="filled" text="{{ plan.size }}"></nb-tag>
                        </ng-container>
                      </p>
                      <p class="plan-price">${{ plan.price }}</p>
                    </nb-card-body>
                    <nb-card-footer class="plan-card-footer">
                      <label class="plan-radio">
                        <input type="radio" [formControl]="tenantRegForm.get('planId')" [value]="plan.id" />
                        <span class="radio-checkmark"></span>
                        {{ plan.name }}
                      </label>
                    </nb-card-footer>
                  </nb-card>
                </div>
              </div>




              <!-- signup button -->
              <div class="btn-wrapper">
                <div class="btn regbtn">
                  <button nbButton size="medium" status="danger" (click)="backToPriviousPage()">
                    Cancel
                  </button>

                  <button nbButton size="medium" status="danger" [disabled]="!tenantRegForm.valid" type="submit">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>