<nb-card class="h-100 card-row">
  <nb-card-body class="m-0">
    <div class="main-wrapper add-lead-wrapper">
      <div>
        <div class="sign-in-title">
          <h2>Tenant Registration</h2>
          <form [formGroup]="tenantRegForm" (ngSubmit)="onSubmit()">
            <!-- input fields -->
            <div class="input-wrapper">
              <div class="input-box">
                <div class="input-title">
                  <span>First Name <span class="required">*</span></span>
                </div>
                <div class="inputTags">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Enter First Name"
                      status="“info”"
                      formControlName="firstName"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Please enter your first name. This field is required."
                    ></nb-icon>
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Last Name <span class="required">*</span></span>
                </div>
                <div class="inputTags">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Enter Last Name"
                      status="“info”"
                      formControlName="lastName"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Please enter your Last name. This field is required."
                    ></nb-icon>
                  </div>
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Company Name <span class="required">*</span></span>
                </div>
                <div class="inputTags">
                  <div class="input-container">
                    <input
                      type="text"
                      placeholder="Company Name"
                      status="“info”"
                      formControlName="name"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Please enter your Company name. This field is required."
                    ></nb-icon>
                  </div>
                </div>
              </div>

              <!-- email -->
              <div class="input-box">
                <div class="input-title">
                  <span>Email <span class="required">*</span></span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      type="Email"
                      placeholder="Email"
                      status="“info”"
                      fieldSize="medium"
                      formControlName="email"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Please enter your Mail id. This field is required."
                    ></nb-icon>
                  </div>
                </div>
                <div
                  *ngIf="
                    tenantRegForm.get('email').hasError('required') &&
                    tenantRegForm.get('email').touched
                  "
                >
                  Email is required.
                </div>
                <div
                  *ngIf="
                    tenantRegForm.get('email').hasError('email') &&
                    tenantRegForm.get('email').touched
                  "
                >
                  Invalid email format.
                </div>
              </div>
              <!-- Validated or not  -->

              <!-- address-->
              <div class="input-box address-input-box">
                <div class="input-title">
                  <span>Address</span>
                </div>
                <div class="input address-input">
                  <input
                    type="text"
                    placeholder="Enter Your Address"
                    status="“info”"
                    formControlName="address"
                    nbInput
                  />
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Zip Code</span>
                </div>
                <div class="input">
                  <input
                    type="text"
                    placeholder="Enter your Zip Code"
                    status="“info”"
                    formControlName="zip"
                    nbInput
                  />
                </div>
              </div>

              <div class="input-box">
                <div class="input-title">
                  <span>Country <span class="required">*</span></span>
                </div>
                <div class="input">
                  <input
                    type="text"
                    placeholder="Enter your Country"
                    status="“info”"
                    formControlName="country"
                    nbInput
                  />
                </div>
              </div>
              <!-- key -->
              <div class="input-box">
                <div class="input-title">
                  <span>
                    Application Sub-Domain <span class="required">*</span></span
                  >
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      placeholder="Enter the subdomain of your application"
                      fieldSize="medium"
                      status="“info”"
                      formControlName="key"
                      nbInput
                      [ngClass]="{
                        'ng-invalid':
                          tenantRegForm.get('key').invalid &&
                          (tenantRegForm.get('key').dirty ||
                            tenantRegForm.get('key').touched),
                      }"
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Enter a unique key starting with an alphabet. This field is required and has a maximum length of 10 characters. Special characters are not allowed"
                    ></nb-icon>
                    <!-- Inline error message -->
                    <nb-tooltip
                      *ngIf="
                        tenantRegForm.get('key').invalid &&
                        (tenantRegForm.get('key').dirty ||
                          tenantRegForm.get('key').touched)
                      "
                      [attr.id]="'keyError'"
                      [nbTooltip]="
                        tenantRegForm.get('key').errors?.keyInvalid
                          ? 'Key must start with an alphabet, have a maximum length of 10 characters, and contain no special characters.'
                          : null
                      "
                    >
                    </nb-tooltip>
                  </div>
                </div>
              </div>
              <!-- domain -->
              <div class="input-box">
                <div class="input-title">
                  <span>Email domain<span class="required">*</span></span>
                </div>
                <div class="input">
                  <div class="input-container">
                    <input
                      placeholder="Enter the Email domain "
                      fieldSize="medium"
                      status="“info”"
                      formControlName="domains"
                      nbInput
                    />
                    <nb-icon
                      icon="info-outline"
                      class="info-icon"
                      nbTooltip="Enter your domain name. 
                      This field is required and should match the format of a valid email address.."
                    ></nb-icon>
                  </div>
                </div>
                <div *ngIf="tenantRegForm.errors?.domainMismatch">
                  Email domain does not match the domain part of the email
                  address.
                </div>
              </div>

              <!--plan design -->
              <div class="plan-card-container">
                <div class="input-title">
                  <h3>Subscription Plan</h3>
                </div>
                <div class="plan-card-wrapper">
                  <nb-card
                    class="plan-card-box"
                    accent="danger"
                    *ngFor="let plan of subscriptionPlans"
                  >
                    <nb-card-header class="plan-card-header">
                      <h5>{{ plan.name }}</h5>
                    </nb-card-header>
                    <nb-card-body class="plan-card-body">
                      <p class="plan-description">{{ plan.description }}</p>
                      <p class="plan-price">${{ plan.price }}</p>
                    </nb-card-body>
                    <nb-card-footer class="plan-card-footer">
                      <label class="plan-radio">
                        <input
                          type="radio"
                          [formControl]="tenantRegForm.get('planId')"
                          [value]="plan.id"
                        />
                        <span class="radio-checkmark"></span>
                        {{ plan.name }}
                      </label>
                    </nb-card-footer>
                  </nb-card>
                </div>
              </div>

              <!-- signup button -->
              <div class="btn-wrapper">
                <div class="btn regbtn">
                  <button
                    nbButton
                    size="medium"
                    status="danger"
                    (click)="backToPriviousPage()"
                  >
                    Cancel
                  </button>

                  <button
                    nbButton
                    size="medium"
                    status="danger"
                    [disabled]="!tenantRegForm.valid"
                    type="submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
