@use '../../styles/grid-styles.scss' as *;

.ag-theme-quartz {
  width: 100%;
  height: 400;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a {
  text-decoration: none;
  color: #19a5ff;
}