<div>
  <nb-card accent="danger" class="card-style">
    <nb-card-body>
      <div class="header-wrapper">
        <h2 class="heading">Onboarded Tenant List</h2>
        <!-- signup button -->
        <div class="regbtn">
          <button
            nbButton
            class="btn-danger"
            size="medium"
            (click)="registerTenantPage()"
          >
            Add tenant
          </button>
        </div>
      </div>

      <!-- ag-grid -->
      <div class="grid-wrapper">
        <div class="grid">
          <ag-grid-angular
            style="width: calc(100vw-200px); height: 650px"
            class="ag-theme-quartz"
            [columnDefs]="colDefs"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
          >
          </ag-grid-angular>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
