<div>
  <nb-card accent="danger" class="card-style">
    <nb-card-body>
      <div class="heading-wrapper">
        <h2 class="heading">Manage Plan</h2>
        <div class="regbtn">
          <button
            nbButton
            size="medium"
            status="basic"
            (click)="showManagePlan()"
          >
            Add Plan
          </button>
        </div>
      </div>
      <!-- ag-grid -->
      <div class="grid">
        <ag-grid-angular
          class="ag-theme-quartz"
          [columnDefs]="colDefs"
          [editType]="'fullRow'"
          [rowSelection]="rowSelection"
          [gridOptions]="gridOptions"
          (gridReady)="onGridReady($event)"
          (rowEditingStopped)="(onRowEditingStopped)"
        >
        </ag-grid-angular>
      </div>
      <!-- Add Plan Button-->
    </nb-card-body>
  </nb-card>
</div>
