@use '../../styles/grid-styles.scss' as *;
.regbtn {
  padding: 10px 0;
  text-align: right;
  button {
    min-width: 200px;
    &:hover {
      background-color: #ff3d71;
      color: white;
    }
  }
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f; 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}