<div>
  <nb-card accent="danger" class="card-style">
    <nb-card-body>
      <div class="heading-wrapper">
        <h2 class="heading">Manage Plan</h2>
        <div class="regbtn">
          <button
            nbButton
            class="btn-danger"
            size="medium"
            status="basic"
            (click)="showManagePlan()"
          >
            Add Plan
          </button>
        </div>
      </div>
      <div *ngIf="isLoading" class="loader">
        <div class="loading-spinner"></div>
      </div>

      <div *ngIf="!isLoading">
        <!-- ag-grid -->
        <div class="grid">
          <ag-grid-angular
            class="ag-theme-quartz"
            [columnDefs]="colDefs"
            [editType]="'fullRow'"
            [rowSelection]="rowSelection"
            [gridOptions]="gridOptions"
            (gridReady)="onGridReady($event)"
            (rowEditingStopped)="(onRowEditingStopped)"
          >
          </ag-grid-angular>
        </div>
      </div>
      <!-- Add Plan Button-->
    </nb-card-body>
  </nb-card>
</div>
