.list-wrapper {
  text-decoration: none;
  color: #19a5ff;
}

.wrap {
  background-color: #0a0b0c;
  padding: 16px;
  margin: 16px 0;
  color: #e0f7fa;
}

.outer-wrapper {
  margin: 0px;
}

h6.inner-wrapper {
  margin: 0px;
}
