nz-select {
  width: 100%;
}
nz-divider {
  margin: 4px 0;
}
.container {
  display: block;
  flex-wrap: nowrap;
  padding: 8px;
  position: absolute;
  top: 0px;
  margin-bottom: 50px;
}
input {
  border: 0.063rem solid #e6e6e6;
  border-radius: 4px;
  width: 560px !important;
  color: #000;
}
#inputElement {
  border: 10px solid #c50808;
  border-radius: 4px;
  width: 560px !important;
  color: #000;
}
.add-item {
  flex: 0 0 auto;
  padding: 8px;
  display: block;
}

::ng-deep .ant-select-selector {
  background-color: #fff !important;
  border: 0.063rem solid #e6e6e6 !important;
  border-radius: 4px !important;
  width: 100% !important;
  height: 32px;
  max-height: 32px;
}
::ng-deep .ant-select {
  color: #000000;
}

::ng-deep .anticon-close {
  color: #000000;
  padding-left: 4px;
  padding-right: 4px;
}
::ng-deep
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #fff !important;
  font-weight: 400 !important;
}

::ng-deep .anticon-check {
  color: #fff !important;
}

::ng-input .ant-select-selection-placeholder {
  color: #000 !important;
}

::ng-deep
  .ant-select-dropdown[ng-reflect-mode*='multiple']
  > div
  > .cdk-virtual-scroll-viewport {
  top: 40px;
  min-height: 100px;
}

::ng-deep .cdk-virtual-scroll-viewport::-webkit-scrollbar {
  width: 10px;
  overflow-y: scroll;
  background: #ccc;
  box-shadow: inset 0 0 4px #e6e6e6;
}

::ng-deep .cdk-virtual-scroll-viewport::-webkit-scrollbar-thumb {
  background: #9a9a9a;
  border-radius: 5px;
}
.multiselectSpan {
  text-align: right;
  width: 110px;
  font-weight: 400;
  padding-left: 2px;
  padding-right: 2px;
}
.multiselExtraElmDiv {
  max-height: 150px;
  overflow-y: auto;
  width: 150px;
}
.multiselExtraElmDiv::-webkit-scrollbar {
  width: 10px;
  overflow-y: scroll;
  background: #ccc;
  box-shadow: inset 0 0 4px #e6e6e6;
}

.multiselExtraElmDiv::-webkit-scrollbar-thumb {
  background: #9a9a9a;
  border-radius: 5px;
}
::ng-deep .ant-select-selection-item-disabled {
  position: absolute !important;
  right: 2px;
}

::ng-deep
  .ant-select-dropdown[ng-reflect-mode*='multiple']
  > div
  > .cdk-virtual-scroll-viewport
  > .cdk-virtual-scroll-content-wrapper
  > .ant-select-item-option {
  /* .ant-select-item-option { */
  pointer-events: none;
}
::ng-deep
  .ant-select-item-option
  > .ant-select-item-option-content
  > label
  > span:first-child
  > .ant-checkbox-input {
  pointer-events: auto !important;
}
